{% extends "auction/basetemplate.html" %}
{% load static %}


{% block content %}
	<div>
        <h2> {{user.username.upper}} vous souhaitez créer un commentaire</h2>
        <form method="POST">
            {% csrf_token %}
            <table class="">
                {{form.as_table}}
            </table>
            <input class="" type="submit" value="Validez votre commentaire">            
        </form>
        <a class="" href="{% url 'comment:comment' %}" >Retour page précédente</a>
    </div>
{% endblock %}