{% extends "auction/basetemplate.html" %}
{% load static %}

{% block head %}
	<link rel="stylesheet" type="text/css" href={% static 'comment/css/style.css' %}>
{%endblock%}

{% block content %}
<section class="create_comment">
    <h2> {{user.username.upper}} vous souhaitez créer un commentaire</h2>
    <div class="form_comment">
        <form method="POST" action="">
            {% csrf_token %}
            <table class="">
                {{form.as_table}}
            </table>
            <input class="validation" type="submit" value="Validez votre commentaire">            
        </form>
{#        <a class="" href="{% url 'comment:comment' %}" >Retour page précédente</a>#}
    </div>
</section>
	
{% endblock %}