{% extends "auction/basetemplate.html" %}
{% load static %}

{% block content %}
	<div class="columns">
		<div class="column is-6 is-offset-2">
			<h1>{{ auction.title }}</h1>
			<img clas="is-1by1" src="{{ auction.image.url }}" alt="">
			<div class="box">
				<p>{{ auction.description }}</p>
			</div>
			{% include "comment/comment_details.html" %}
		</div>
		<div class="column is-2">
			<div class="box">
				<h1>Tableau d'action</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequuntur inventore
					officia, repellendus totam veritatis voluptatibus.
					Accusamus, aspernatur, deserunt earum eligendi esse excepturi explicabo illum odio, quisquam soluta
					tenetur voluptatibus?
				</p>
			</div>
		</div>
	</div>
	<div class="comments">

	</div>
{% endblock %}