{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href={% static "auction/css/index.css" %}>
	{% block header %}
	
	{% endblock %}
</head>
<body>
	<header>
		<img class="logo" src="{% static "auction/very_smoll_logo.png" %}" alt="salut"/>

		<nav class="navlink">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About us</a></li>
				<li><a href="#">What if ?</a></li>
				<li><a href="#">Sign in</a></li>
				<li><a href="#">Login</a></li>
			</ul>
		</nav>
	</header>
	<div class="content">
		{% block content %}
		
		{% endblock %}
	</div>
	<footer>
		<p>This site uses cookies to offer it's services. By using the site you agree to the use of cookies. </p>
		<p>© 2021 - All rights reserved</p>
	</footer>
</body>
</html>